@font-face {
  font-family: "iconfont"; /* Project id 3725164 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1675842278088') format('woff2'),
       url('iconfont.woff?t=1675842278088') format('woff'),
       url('iconfont.ttf?t=1675842278088') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-sun-fog:before {
  content: "\e727";
}

.i-lang:before {
  content: "\e6a4";
}

.i-gongji:before {
  content: "\e6a5";
}

.i-maotouying:before {
  content: "\e6a6";
}

.i-daxiang:before {
  content: "\e6a7";
}

.i-lu:before {
  content: "\e6a8";
}

.i-hema:before {
  content: "\e6a9";
}

.i-huli:before {
  content: "\e6aa";
}

.i-ciwei:before {
  content: "\e6ab";
}

.i-jingyu:before {
  content: "\e6ac";
}

.i-huhou:before {
  content: "\e6ad";
}

.i-nainiu:before {
  content: "\e6ae";
}

.i-kaola:before {
  content: "\e6af";
}

.i-pangxie:before {
  content: "\e6b0";
}

.i-xiaoji:before {
  content: "\e6b1";
}

.i-shizi:before {
  content: "\e6b2";
}

.i-xiongmao:before {
  content: "\e6b3";
}

.i-zhu:before {
  content: "\e6b4";
}

.i-laohu:before {
  content: "\e6b5";
}

.i-niu:before {
  content: "\e6b6";
}

.i-banma:before {
  content: "\e6b7";
}

