:root {
  --blue: #0e0620;
  --white: #fff;
  --red: #F07098;
  --menuBackground: #333333;
  --color:var(--white)
}

*{
  margin: 0;
  padding: 0;
}

span{
  display: inline-block;
}

a{
  color: #1890ff;
  text-decoration: none;
  outline: none;
}